@model BAI_TH_15._1.Models.Student

@{
    ViewBag.Title = "Result";
}

<div>
    <h2>Thông tin sinh viên:</h2>
    <p>Họ tên: @Model.FullName</p>
    <p>Email: @Model.Email</p>
    <p>Điện thoại: @Model.PhoneNumber</p>
    <p>Tỉnh: @Model.Province</p>
    <p>Huyện: @Model.District</p>
</div>

